
.content-wrapper {
    background-color: none;
    position: absolute;
    top: 92vh;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.content-box {
    background-color: #E2E2E2;
    position: absolute;
    top: 17vh;
    width: 100%;
    height: 100%;
    border-top: 0.5em solid rgb(100, 100, 110);
    z-index: 1
}

.picture {
    position: relative;
    top: 1em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    z-index: 25;
}

.about-section {

}

.projects-section {

}

.contact-section {

}
