
#content-wrapper {
	background-color: none;
	position: absolute;
	top: 92vh;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#content-box {
	background-color: #e7e7e7;
	position: absolute;
	top: 17vh;
	width: 100%;
	height: 100%;
	border-top: 0.5em solid rgb(100, 100, 110);
	text-align: center;
	z-index: 1
}

#portrait {
	position: absolute;
	display: block;
	top: 4em;
	left: 50%;
	margin-left: -100px;
	z-index: 25;
}

#about-section {
	position: relative;
	width: 60%;
	height: max-content;
	padding: 0.8em;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.12), 0 2px 4px 0px rgba(0, 0, 0, 0.11);
	background-color: #f7f1ea;
}

#contact-section {
	position: relative;
	width: 60%;
	padding: 0.8em;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-align: center;
	box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.12), 0 2px 4px 0px rgba(0, 0, 0, 0.11);
	background-color: #ececec;
}

table#contact {
	position: relative;
	table-layout: fixed;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a.undec-link {
	color: inherit;
	text-decoration: none;
}

#projects-section {
	position: relative;
	width: 100%;
	height: max-content;
	padding: 0px;
	margin: 0px;
	padding-top: 0.6em;
	padding-bottom: 3em;
	margin-top: 2.4em;
	font-family: 'Open Sans', sans-serif;
	border-top: 0.5em solid rgb(123, 135, 180);
	border-bottom: 0.5em solid rgb(123, 135, 180);
	font-size: 1em;
	margin-bottom: 0px;
	background-color: rgb(171, 206, 230);
}

#projects-header {
	font-family: 'Open Sans' , sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	width: 5em;
	padding: 0.2em;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid grey;
}

table#main-content {
	table-layout: fixed;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

td#proj-cell {
	padding: 0.5em;
	height: 8em;
}

.project-box {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 0.5em;
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.14), 0 1px 4px 0px rgba(0, 0, 0, 0.12);
	background-color: #ececec;
}

.projects-footer {
	font-size: 1.0em;
	padding: 1em;
	width: 80%
}

