body{
    background-color: #c1e6ce
}

.test {
    font-family: 'Josefin Sans', sans-serif;
    font-size:50px;
    font-weight: bold;
    
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/