body{
    background-color: #acc0cc
}

.topbar{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size:2.0em;
    background-color: rgb(110, 166, 212);
    border: 2px #000000;
    border-bottom-style: solid;
    overflow: hidden;
    height: 90px;
    position: absolute;
    vertical-align: middle;
    top: -20px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.topbar-left{
    box-sizing: border-box;
    background-color: #cec391;
    border: 2px solid #000000;
    padding: 5px;
    overflow: hidden;
    height: 50px;
    position: absolute;
    align-self: center;  
    vertical-align: middle; 
    left: 175px;
    top: 30px;
    width: 200px;
    text-align: center;
}

.topbar-center{
    box-sizing: border-box;
    background-color: #cec391;
    border: 2px solid #000000;
    padding: 5px;
    overflow: hidden;
    height: 50px;
    position: relative;
    vertical-align: middle;
    margin-left: auto;  
    margin-right: auto;
    top: 30px;
    width: 200px;
    text-align: center;
}

.topbar-right{
    box-sizing: border-box;
    background-color: #cec391;
    border: 2px solid #000000;
    padding: 5px;
    overflow: hidden;
    height: 50px;
    position: absolute;
    text-align: center;
    right: 175px;
    top: 30px;
    width: 200px;
    align-self: center;
}

.box {
    box-sizing: border-box;
    background-color: #f5f2ee;
    border: 2px solid #000000;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    width: 90%;
    height: 1000px;
    margin-left: 5%;
    top: 600px;
    z-index: 2;
}

.boxtxt {
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
    font-weight:lighter;    
    color: #464646;
}

a.nounderline {text-decoration: none; color: #0f0f0f;}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;

Thin
Thin Italic
Light
Light Italic
Regular
Regular Italic
Medium
Medium Italic
Bold
Bold Italic
Black
Black Italic

Colour scheme:
Red: #B8336A
Light blue: #56AFD8
Dark blue: #354568
Gray: #99A7AA
White: #E6E6EF

*/