body{
    background-color: #c1c7e6
}

.test {
    font-family: 'Josefin Sans', sans-serif;
    font-size:50px;
    font-weight: bold;
    
}

.topbar{
    background-color: #333;
    overflow: hidden;
}

.box {
	background-color:#222222;
}

.boxtxt {
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    color: #d8d8d8
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/